@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

p {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1px;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  width: 100%;
  height: 8.5vw;
  top: 0;
  position: fixed;
  border-bottom: 1vw solid rgb(28, 0, 131);
}

.inner-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.logo {
  display: flex;
  flex-direction: column;
  width: 7vw;
  height: 8vw;
  background-color: white;
  padding: 10px;
}

.logo img {
  width: 100%;
  height: auto;
}

.header {
  margin-left: 3vw;
}

.header .heading-1 {
  color: rgb(0, 128, 179);
  font-size: 1vw;
  font-weight: 500;
  letter-spacing: 1px;
}

.header .heading-2 {
  color: rgb(28, 0, 131);
  font-size: 3vw;
  letter-spacing: 0px;
}

.nav-divider {
  background-color: rgb(184, 184, 184);
  width: 2px;
  height: 4.2vw;
  margin: 0 3vw 0 5vw;
}

nav ul {
  display: flex;
  justify-content: space-around;
  width: 50%;
  margin-bottom: -2.5vw;
}

nav ul li {
  font-family: 'Roboto', sans-serif;
  font-size: 1vw;
  cursor: pointer;
}

.non-link {
  display: none;
}

.nav-dropdown {
  display: none;
}

.page-section {
  padding: 0 10% 0 10%;
}

.banner {
  background-color: blue;
  background-image: linear-gradient(to right, rgba(0, 167, 218, 0.651), white);
  margin-top: 8.5vw;
  width: 100%;
  height: 35vw;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.banner .heading-0 {
  display: none;
}

.banner .heading-1 {
  font-size: 3vw;
  margin-bottom: 2vh;
}

.banner .heading-2 {
  font-size: 1.4vw;
  font-weight: 300;
  line-height: 1.5;
}

.insights {
  display: flex;
  flex-direction: column;
  background-color: rgb(216, 216, 216);
  width: 100%;
  padding-top: 2%;
  padding-bottom: 2%;
}

.insights .heading-1 {
  font-size: 2.5vw;
  margin-bottom: 1vh;
  letter-spacing: 0px;
}

.insights .heading-2 {
  font-size: 1vw;
  font-weight: 400;
  margin-bottom: 2vh;
  letter-spacing: 0px;
}

.insight-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.insight {
  background-color: white;
  width: 25vw;
  height: 25vw;
  padding: 2%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.insight .image {
  background-color: black;
  width: 100%;
  height: 73%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.insight .triangle-ul {
  width: 0;
  height: 0;
  border-top: 5.5vw solid white;
  border-right: 5.5vw solid transparent;
  margin-right: auto;
}

.insight .triangle-br {
  width: 0;
  height: 0;
  border-bottom: 5.5vw solid white;
  border-left: 5.5vw solid transparent;
  margin-left: auto;
}

.insight .heading {
  font-size: 2vw;
}

.insight.study {
  border-bottom: 1vw solid blue;
  color: blue;
}

.insight.outlook {
  border-bottom: 1vw solid rgb(7, 172, 103);
  color: rgb(7, 172, 103);
}

.insight.assumptions {
  border-bottom: 1vw solid rgb(0, 162, 255);
  color: rgb(0, 162, 255);
}

.contact {
  width: 100%;
  height: 25vw;
  background: linear-gradient( rgba(0, 113, 218, 0.651),  rgba(0, 113, 218, 0.651)), url("./images/contact_bg.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  padding-top: 5%;
  padding-bottom: 5%;
  justify-content: space-between;
}

 .contact .statement {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.contact .statement .heading-1 {
  font-size: 2vw;
  margin-bottom: 10px;
}

.contact .statement .heading-2 {
  font-size: 1vw;
  font-weight: 300;
  text-align: center;
  line-height: 1.5;
}

.button {
  border: 1px solid white;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  cursor: pointer;
  padding: 1vw 2vw 1vw 2vw;
  font-size: 1vw;
}

.events {
  display: flex;
  flex-direction: column;
  background-color: rgb(216, 216, 216);
  width: 100%;
  padding-top: 2%;
  padding-bottom: 6%;
}

.events .heading-1 {
  font-size: 2.5vw;
  margin-bottom: 1vh;
  letter-spacing: 0px;
}

.events .heading-2 {
  font-size: 1vw;
  font-weight: 400;
  margin-bottom: 4.5vw;
  letter-spacing: 0px;
}

.event-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.event {
  background-color:  rgb(0, 96, 185);
  width: 25vw;
  height: 20vw;
  padding: 0 0 0 2%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
}

.date-section {
  display: flex;
  margin-top: -1.5vw;
  margin-left: -1vw;
}

.little-triangle {
  width: 0;
  height: 0;
  border-bottom: 1.5vw solid rgb(34, 34, 151);
  border-left: 1.5vw solid transparent;
}

.date {
  background-color: rgb(3, 3, 87);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 5vw;
  height: 5vw;
  padding: 5px;
}

.date .month {
  font-size: 0.8vw;
}

.date .day {
  font-weight: bold;
  font-size: 2.8vw;
}

.event .statement {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
  margin: 0;
}

.event .statement .heading-1 {
  font-size: 1.5vw;
}

.event .statement .heading-2 {
  font-size: 0.9vw;
  font-weight: 300;
  text-align: unset;
  margin: 0;
}

.event-btn {
  margin-right: auto;
  padding: 1vw;
  font-size: 1vw;
}

.event .location {
  width: 100%;
  height: 3vw;
  display: flex;
}

.event .location .triangle {
  width: 0;
  height: 0;
  border-bottom: 3vw solid rgb(216, 216, 216);
  border-left: 3vw solid transparent;
}

.event .location .text {
  background-color: rgb(216, 216, 216);
  width: 100%;
  height: 3vw;
  color: black;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 1.3vw;
  padding-right: 2vw;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.footer {
  background-color: gray;
  height: 6vw;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1.5vw;
  font-size: 0.8vw;
}

.socials {
  display: flex;
  width: 15vw;
  justify-content: space-around;
  align-items: center;
}

.footer .socmed-icon {
  border-radius: 50%;
  width: 1.5vw;
  height: 1.5vw;
  background-color: rgb(179, 179, 179);
}

.footer-mobile {
  display: none;
}

@media screen and (max-width: 768px) {

  nav {
    align-items: center;
    justify-content: center;
    background-color: rgb(219, 219, 219);
    height: 10vh;
    border-bottom: 0px;
    z-index: 2;
  }

  .nav {
    padding: 0;
  }
  
  .inner-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 10px 5% 10px 5%;
  }

  .logo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: transparent;
    width: auto;
    height: 8vh;
    padding: 0;
    padding: 5px;
  }

  .logo img {
    height: 100%;
    width: auto;
  }

  .logo .logo-img {
    margin-right: 15px;
    height: 90%;
    width: auto;
  }

  .logo .logo-txt {
    height: 80%;
    width: auto;
  }
  
  .header {
    display: none;
  }
  
  .nav-divider {
    display: none;
  }
  
  nav ul {
    display: none;
  }

  .nav-dropdown {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    float: none;
    position: fixed;
    left: 0;
    right: 0;
    top: 10vh;
    margin-bottom: 0px;
    padding: 2% 10% 11% 10%;
    background-color:white;
    transform: translateY(-117%);
    transition: 0.5s ease-in-out;
    z-index: 1;
  }

  .nav-dropdown li {
    font-family: 'Roboto', sans-serif;
    font-size: 2vh;
    background-color: rgb(219, 219, 219);
    cursor: pointer;
    width: 100%;
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.5vh;
  }

  .nav-dropdown .non-link {
    background-color: transparent;
    cursor: unset;
    color: blue;
    border-bottom: 1px solid black;
    height: 5vh;
  }

  .inv-burger {
    height: 40px;
    width: 40px;
    background-color: transparent;
  }

  .burger {
    height: 40px;
    width: 35px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    cursor: pointer;
  }

  .burger div {
    width: 100%;
    height: 3px;
    border-radius: 30px;
    background-color: rgb(2, 28, 146);
    transition: 0.1s ease-in-out;
  }

  .overlay {
    transition: 0.5s ease-in-out;
  }

  .banner {
    background-color:  rgb(0, 162, 255);
    background-image: unset;
    height: 90vh;
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 10%;
    padding-bottom: 10%
  }

  .banner .heading-0 {
    display: inline-block;
    font-size: 3vh;
  }

  .banner .heading-1 {
    font-size: 6vh;
    margin-bottom: 2vh;
  }

  .banner .heading-1 .subheading-1 {
    font-weight: 300;
    font-size: 3vh;
  }

  .banner .heading-1 .subheading-2 {
    display: flex;
    flex-direction: column;
  }

  .dotted-divider {
    width: 33vh;
    padding: 0px 2px 0px 2px;
    margin: 0 0 2vh 0;
    display: flex;
    justify-content: space-between;
  }
  
  .dotted-divider .dot {
    height: 0.5vh;
    width: 0.5vh;
    background-color: rgb(107, 201, 255);
    border-radius: 50%;
    display: inline-block;
  }
  
  .banner .heading-2 {
    font-size: 2vh;
    font-weight: 300;
    line-height: 1.5;
  }

  .insights {
    display: none;
  }

  .contact {
    height: 60vh;
    align-items: center;
    color: white;
    padding-top: 15%;
    padding-bottom: 15%;
    justify-content: space-between;
  }
  
  .contact .statement .heading-1 {
    font-size: 4vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .contact .statement .heading-2 {
    font-size: 2vh;
    font-weight: 300;
  }
  
  .button {
    border: 1px solid white;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    padding: 1.5vh 3vh 1.5vh 3vh;
    font-size: 2vh;
  }

  .events {
    display: none;
  }

  .footer {
    display: none;
  }

  .footer-mobile {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 5% 10% 10% 10%;
    background-color: rgb(219, 219, 219);
  }

  .footer-mobile li {
    font-family: 'Roboto', sans-serif;
    font-size: 2vh;
    
    cursor: pointer;
    width: 100%;
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.5vh;
    font-weight: 500;
  }

  .footer-mobile .link {
    background-color: white;
    color:  rgb(100, 100, 100);
  }

  .btn-container {
    width: 100%;
    background-color: rgb(219, 219, 219);
    cursor: unset;
    display: flex;
    justify-content: space-between;
  }

  .btn-container div {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color:  rgb(100, 100, 100);
    cursor: pointer;
  }

  .btn-container .left {
    margin-right: 0.7vh;
  }

  .btn-container .right {
    margin-left: 0.7vh;
  }

  .footer-mobile .non-link {
    background-color: transparent;
    cursor: unset;
    color: blue;
    border-bottom: 1px solid black;
    height: 5vh;
  }
}

.nav-active {
  transform: translateY(0%);
}

.toggle .line-1 {
  transform: rotate(-45deg) translate(-9px,10px);
  background-color: red;
}

.toggle .line-2 {
  opacity: 0;
}

.toggle .line-3 {
  transform: rotate(45deg) translate(-9px,-10px);
  background-color: red;
}

.black-overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 10vh;
  background-color: black;
  opacity: 0.7;
  transition: 0.5s ease-in-out
}